<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
  <style>
    body {
        background-image: url('images/airport.jpeg');
        background-repeat: no-repeat;
        background-size: 1920px 1080px;
    }
    .box {
        width: 800px;
        height: 200px;
        border: 3px solid white;
        background-color: white;
        border-radius: 25px;
        position: relative; left:250px; top:100px;
        float: left;
        margin: 20px;
    }
    .form {
      font-family: verdana;
      position: relative; left:180px; top:20px;
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="image">
          <img src="images/iconwhite.png" style="float:left;padding:10px;width:30px;height:30px">
        </div>
        <div class="text">
          <h1 style="color:white;font-family:verdana;font-size:150%;font-weight:normal;">flightDelay</h1>
        </div>
      </div>


      <div class="box">
        <div class="form">
        <h1>Choose a Date</h1>
        <form action="/action_page.php" >
          <label for="month">Month:</label>
          <select name="month" id="month">
            <option value="jan">January</option>
            <option value="feb">February</option>
            <option value="mar">March</option>
            <option value="apr">April</option>
            <option value="may">May</option>
            <option value="jun">June</option>
            <option value="jul">July</option>
            <option value="aug">August</option>
            <option value="sep">September</option>
            <option value="oct">October</option>
            <option value="nov">November</option>
            <option value="dec">December</option>
        </select>
          <label for="day">Day:</label>
          <select name="day" id="day">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="6">5</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
          </select>
          <label for="airline">Airline:</label>
          <select name="airline" id="airline">
            <option value="aa">American Airlines</option>
            <option value="united">United Airlines</option>
        </select>
        
          <br><br>
          <input type="submit" value="Submit">
        </form>
        </div>
      </div>


</body>
</html>